.main-section {
  position: relative;
  background-color: skyblue;
  /* background-image: url("");
  background-size: cover; */
  width: 100%;
  height: 960px;
  margin-top: 60px;
}

.main-title {
  position: absolute;
  width: 686px;
  height: 160px;
  left: 144px;
  top: 354px;
  color: #000;
  font-size: 56px;
}

.get-started {
  position: absolute;
  width: 192px;
  height: 52px;
  left: 145px;
  top: 554px;
}
