/* COMMON */
.button {
  width: 130px;
  height: 40px;
  border: solid 1px #18a0fb;
  color: #18a0fb;
  border-radius: 5px;
  background: #ffffff;
}

.button:hover {
  color: #fff;
  background-color: #18a0fb;
  transition: 0.5s;
}

.button.color-blue {
  background-color: #18a0fb;
  color: #fff;
}

.button.color-blue:hover {
  background-color: #fff;
  color: #18a0fb;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: 1s;
}

/* NAVIGATION */

.navigation-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: rgb(205, 205, 205);
  z-index: 1;
}

.logo {
  width: 122.07px;
  height: 32px;
  margin: 14px 50px 14px 80px;
}

.link {
  margin: 10px 20px;
  color: #18a0fb;
}

.right-buttons {
  position: absolute;
  display: flex;
  right: 52px;
  top: 10px;
}

.login {
  margin: 0 6px;
}

.register {
  margin: 0 6px;
}

/* FOOTER */
